.books {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.booksTitle {
  margin-top: 50px;
  margin-bottom: 30px;
}
.linksPart {
  display: flex;
  align-items: center;
  gap: 10px;
}
.booksLink {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  margin-bottom: 30px;
}
.formInps {
  display: flex;
  align-items: center;
  gap: 10px;
}
.formInpsRow {
  display: flex;
  flex-direction: column;
  gap: 3px;
}